akonadi/
discord/
BraveSoftware/
akregatorrc
Atom/
atril/
autostart/
autostart-scripts/
baloofileinformationrc/
baloofilerc/
binwalk/
blender/
bluedevilglobalrc
bpytop/
bspwm
caja/
cef_user_data/
Clementine/
cmst/
code-oss/
Code - OSS/
code-server/
configstore/
deepin/
deluge/
dolphinrc
eDEX-UI/
Electron/
falkon/
fontforge/
GIMP/
google-chrome/
gpicview/
gwenviewrc
hexchat/
irb/
Joplin/
joplin-desktop/
kactivitymanagerdrc
kalarmrc
katerc
kateschemarc
kazam/
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdeglobals
kgammarc
kglobalshortcutsrc
khotkeysrc
khtml/
kmail2rc
kmixctrlrc
kmixrc
knfsshare
konquerorrc
konversationrc
korgacrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
ktorrent_infowidgetrc
ktorrentrc
kwinrc
kwinrulesrc
kwriterc
kxkbrc
leafpad/
libaccounts-glib/
libfm/
libreoffice/
lsp-plugins/
lximage-qt/
lxlauncher/
lxpanel/
lxsession/
lxterminal/
mate/
menus/
midori/
mimeapps.list
Mousepad/
nomacs/
NuGet/
okularpartrc
openbox/
pavucontrol.ini
pcmanfm
pcmanfm-qt
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace/
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
qBittorrent/
qpdfview/
qt5ct/
qterminal.org/
QtProject.conf
ristretto/
session/
spectaclerc
sublime-text-3/
systemsettingsrc
THOPTV
Trolltech.conf
VirtualBox/
vivaldi/
webengineurlinterceptoradblockrc
whoozle.github.io/
xfce4/
xsettingsd/
yelp/
dconf/
Thunar/
variety/
#variety/.last_change_time
#variety/history.txt
#variety/variety.log
#variety/wallpaper/wallpaper.jpg.txt
